.skill-bar {
    height: 20px;
    background-color: #e9ecef;
    border-radius: 5px;
    overflow: hidden;
}
.skill-progress {
    height: 100%;
    border-radius: 5px;
    transition: width 0.5s ease-in-out;
}
.project-card {
    transition: transform 0.3s;
}
.project-card:hover {
    transform: translateY(-5px);
}
.nav-link.active{
    color: white !important;
    font-weight: bold;
}